$greyColour: rgba(33, 33, 33, 1);
$greenColour: rgba(171, 255, 79, 1);
$whiteColour: rgba(238, 238, 238, 1);

h1{ 
    color: $greenColour;
}

body{ 
    background-color: $greyColour;
}

mat-dialog-content{
    color: $greenColour;
}