<mat-toolbar class="mat-elevation-z8">
    &nbsp;
    <button class="menu" mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
        <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
    <div></div>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://retrorabbit.co.za">
        <img height="225px" width="200px" src="../../assets/svgs/retrorabbit_banner.svg" class="logo"/>
    </a>
    <span class="toolbar-spacer"></span>
    
    <button matTooltip="Login" mat-button *ngIf="loggedIn.getValue() === false" (click)="signIn()">
        Login
    </button>
    <button matTooltip="Logout" mat-button *ngIf="loggedIn.getValue() === true" (click)="signOut()">
        Logout
    </button>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

        <img class="avatar mat-elevation-z8" src="../../assets/png/logo.png" />

        <h4 class="name">RABBITANIA MAIN MENU</h4>

        <mat-divider class="nav-divider"></mat-divider>

        <button mat-button class="menu-button" routerLink="/">
            <fa-icon [icon]="faRocket"></fa-icon>&nbsp;
            <span>Landing Page</span>
        </button>
        <button mat-button class="menu-button" routerLink="/">
            <fa-icon [icon]="faUsers"></fa-icon>&nbsp;
            <span>The Developer Team</span>
        </button>

        <mat-divider class="nav-divider"></mat-divider>
        <h4 class="name">Administrator Dashboard</h4>

        <button mat-button class="menu-button" routerLink="/ai-planner">
            <fa-icon [icon]="faBriefcase"></fa-icon>&nbsp;
            <span>Office Planner</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>people</mat-icon>
            <span>View Users</span>
        </button>
        <button mat-button class="menu-button">
            <fa-icon [icon]="faThList"></fa-icon>&nbsp;
            <span>View Bookings Schedule</span>
        </button>
     
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">

            <h1 class="welcome-text">WELCOME TO </h1>

            <img class="landing-rocket" src="../../assets/svgs/landingrocket.svg" height="750px" width="750px">

            <h1 class="welcome-text"> RABBITANIA WEB </h1>

            <!-- <img class="bolders" src="../../assets/svgs/bolder.svg" height="200px" width="200px">
            <img class="tree-islands" src="../../assets/svgs/tree-bolder.svg" height="200px" width="200px"> -->
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

