
<mat-toolbar class="mat-elevation-z8">
    &nbsp;
    <button class="menu" mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
        <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
    <div></div>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://retrorabbit.co.za">
        <img height="225px" width="200px" src="../../assets/svgs/retrorabbit_banner.svg" class="logo"/>
    </a>
    <span class="toolbar-spacer"></span>

    
    
    <button class="log" matTooltip="Login" mat-button *ngIf="user_displayName == '';else other_content" (click)="signIn()">
        <div *ngIf="loggingIn;else login">
            <span class="spinner-border spinner-border-sm mr-1"></span>
            Logging In
        </div>
        <ng-template #login>
            <i class="bi bi-google"> Login </i>
        </ng-template>
    </button>
    <ng-template #other_content>
        <div class="profile">
            <span><img class="profile-pic" src="{{ user_googleUrl }}"/></span>&nbsp;
            <span class="profile-text">{{ user_displayName }}</span>&nbsp;
            <button class="log" matTooltip="Logout" mat-button (click)="signOut()">
                Logout
            </button>
        </div>
    </ng-template>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

        <img class="avatar mat-elevation-z8" *ngIf="user_googleUrl == '';else googleUrl" src="../../assets/png/logo.png" />
        <ng-template #googleUrl>
            <img class="avatar mat-elevation-z8" src="{{ user_googleUrl }}" />
        </ng-template>

        <h4 class="name">RABBITANIA MAIN MENU</h4>

        <mat-divider class="nav-divider"></mat-divider>

        <button mat-button class="menu-button" routerLink="/">
            <span class="menu-icon"><fa-icon [icon]="faRocket"></fa-icon></span>
            <span class="menu-icon-text"> Landing Page</span>
        </button>
        <button mat-button class="menu-button" routerLink="/about-us">
            <span class="menu-icon"><i class="bi bi-terminal"></i></span>
            <span class="menu-icon-text">About The Developers</span>
        </button>

        <mat-divider class="nav-divider"></mat-divider>
        <h4 class="name">Administrator Dashboard</h4>

        <button mat-button class="menu-button" routerLink="/ai-planner">
            <span class="menu-icon"><fa-icon [icon]="faBriefcase"></fa-icon></span>
            <span class="menu-icon-text">Office Planner</span>
        </button>
        <button mat-button class="menu-button" routerLink="/view-users">
            <span class="menu-icon"><i class="bi bi-person-bounding-box"></i></span>
            <span class="menu-icon-text">View Users</span>
        </button>
        <button mat-button class="menu-button">
            <span class="menu-icon"><fa-icon [icon]="faThList"></fa-icon></span>
            <span class="menu-icon-text">View Bookings Schedule</span>
        </button>

    </mat-sidenav>
    <mat-sidenav-content>
    <body>
        <div class="view">
              <form>
                <div class="form-group form-inline" style="padding:10px; margin-left:35%;">
                    <p class="search-text"> <b style="font-size: large;">Search Users:</b> &nbsp;&nbsp; <input placeholder="User's name or email..." class="form-control ml" type="text" [formControl]="filter"/></p>
                </div>
              </form>
              <br>
              <br>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">User's Name</th>
                  <th scope="col">User's Email</th>
                  <th scope="col">Phone Number</th>
                  <th scope="col">Admin Status</th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let users of countries$ | async; index as i">
                  <td>
                    <!-- <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.number" class="mr-2" style="width: 20px"> -->
                    <ngb-highlight [result]="users.name" [term]="filter.value"></ngb-highlight>
                  </td>
                  <td><ngb-highlight [result]="users.description" [term]="filter.value"></ngb-highlight></td>
                  <td><ngb-highlight [result]="users.imgUrl" [term]="filter.value"></ngb-highlight></td>
                  <td>Admin</td>
                  <td>
                        &nbsp;&nbsp;
                    <button class="btn btn-warning">Make Admin</button>
                        &nbsp;&nbsp;
                    <button class="btn btn-danger">Remove User</button>
                  </td>
                </tr>
                </tbody>
            </table>
        </div>
    </body>
    </mat-sidenav-content>
</mat-sidenav-container>
