@import '../homepage/homepage.component.scss';

/*
    About Us Page Stuff
*/ 

.sensei{
    height: 70vh;
    width: 70vh;
    opacity: 0.6;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
}

.about-us-header-text{
    color: $greenColour;
    font-size: xx-large;
}
