<mat-toolbar class="mat-elevation-z8">
    &nbsp;
    <button class="menu" mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
        <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
    <div></div>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://retrorabbit.co.za">
        <img height="225px" width="200px" src="../../assets/svgs/retrorabbit_banner.svg" class="logo"/>
    </a>
    <span class="toolbar-spacer"></span>
    
    <button class="log" matTooltip="Login" mat-button *ngIf="user_displayName == '';else other_content" (click)="signIn()">
        Login
    </button>
    <ng-template #other_content>
        <div class="profile">
            <span><img class="profile-pic" src="{{ user_googleUrl }}"/></span>&nbsp;
            <span class="profile-text">{{ user_displayName }}</span>&nbsp;
            <button class="log" matTooltip="Logout" mat-button (click)="signOut()"> 
                Logout
            </button>
        </div>
    </ng-template>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

        <img class="avatar mat-elevation-z8" *ngIf="user_googleUrl == '';else googleUrl" src="../../assets/png/logo.png" />
        <ng-template #googleUrl>
            <img class="avatar mat-elevation-z8" src="{{ user_googleUrl }}" />
        </ng-template>

        <h4 class="name">RABBITANIA MAIN MENU</h4>

        <mat-divider class="nav-divider"></mat-divider>

        <button mat-button class="menu-button" routerLink="/">
            <span class="menu-icon"><fa-icon [icon]="faRocket"></fa-icon></span>
            <span class="menu-icon-text"> Landing Page</span>
        </button>
        <button mat-button class="menu-button" routerLink="/about-us">
            <span class="menu-icon"><fa-icon [icon]="faUsers"></fa-icon></span>
            <span class="menu-icon-text">The Developer Team</span>
        </button>

        <mat-divider class="nav-divider"></mat-divider>
        <h4 class="name">Employee Dashboard</h4>

        <button mat-button class="menu-button">
            <span class="menu-icon"><fa-icon [icon]="faThList"></fa-icon></span>
            <span class="menu-icon-text">View Bookings Schedule</span>
        </button>

        <button mat-button class="menu-button">
            <span class="menu-icon"><fa-icon [icon]="faBook"></fa-icon></span>
            <span class="menu-icon-text">View Your Bookings</span>
        </button>
    

        <mat-divider class="nav-divider"></mat-divider>
        <h4 class="name">Administrator Dashboard</h4>

        <button mat-button class="menu-button" routerLink="/ai-planner">
            <span class="menu-icon"><fa-icon [icon]="faBriefcase"></fa-icon></span>
            <span class="menu-icon-text">Office Planner</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>people</mat-icon>
            View Users
        </button>
     
    </mat-sidenav>
    <mat-sidenav-content>
        
        <div class="content">
            <div class="container-banner">
                <span class="dojo-text1"> THE DEV </span>
                <img class="sensei" src="../../assets/png/sensei-2.png">
                <span class="dojo-text2"> DOJO </span>        
            </div>
        </div>
        <div class="container" id="about_div">
            <div class="row align-items-center">
                <div class="col-xl-4 col-lg-5 col-md-5 col-sm-4">
                    <div class="member">
                        <img src="../../assets/png/matt.png"/>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-7 col-md-7 col-sm-8">
                    <div class="about">
                        <h1>
                            Matthew Harty
                            <br>
                            BSc Information and Knowledge Systems
                        </h1>
                    </div>
                </div>
            </div>
        </div>
            <br>
            <br>
            <br>
        <div class="container" id="about_james">
            <div class="row align-items-center">
                <div class="col-xl-4 col-lg-5 col-md-5 col-sm-4">
                    <div class="member">
                        <img src="../../assets/png/matt.png"/>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-7 col-md-7 col-sm-8">
                    <div class="about">
                        <h1>
                            Matthew Harty
                            <br>
                            BSc Information and Knowledge Systems
                        </h1>
                    </div>
                </div>
            </div>
        </div>
            <br>
            <br>
            <br>
        <div class="container" id="about_joe">
            <div class="row align-items-center">
                <div class="col-xl-4 col-lg-5 col-md-5 col-sm-4">
                    <div class="member">
                        <img src="../../assets/png/matt.png"/>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-7 col-md-7 col-sm-8">
                    <div class="about">
                        <h1>
                            Matthew Harty
                            <br>
                            BSc Information and Knowledge Systems
                        </h1>
                    </div>
                </div>
            </div>
        </div>
            <br>
            <br>
            <br>
        <div class="container" id="about_dean">
            <div class="row align-items-center">
                <div class="col-xl-4 col-lg-5 col-md-5 col-sm-4">
                    <div class="member">
                        <img src="../../assets/png/matt.png"/>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-7 col-md-7 col-sm-8">
                    <div class="about">
                        <h1>
                            Matthew Harty
                            <br>
                            BSc Information and Knowledge Systems
                        </h1>
                    </div>
                </div>
            </div>
        </div>
            <br>
            <br>
            <br>
    </mat-sidenav-content>
</mat-sidenav-container>
