@import '../homepage/homepage.component.scss';

/*
    About Us Page Stuff
*/ 


.image_matt{
    border-radius: 50%;
    height: 40%;
    width: 40%;
}

.image_div{
    border-radius: 50%;
    height: 40%;
    width: 40%;
}

.image_james{
    border-radius: 50%;
    height: 40%;
    width: 40%;
}

.image_joe{
    border-radius: 50%;
    height: 40%;
    width: 40%;
}

.image_dean{
    border-radius: 50%;
    height: 40%;
    width: 40%;
}

#about_matt{
    background: black;
    border-radius: 10px;
    width: 80%;
    float: left;
    margin-bottom: 5%;
    margin-left: 10%; 
    padding:25px;
    border: solid 2px $greenColour;
    animation: linear infinite alternate;
    animation-name: right;
    animation-duration: 10s;
}
#about_div{
    background: black;
    border-radius: 10px;
    width: 80%;
    margin-right: 10%; 
    margin-bottom: 5%;
    float: right;
    padding:25px;
    border: solid 2px $greenColour;
    animation: linear infinite alternate;
    animation-name: left;
    animation-duration: 10s;
}
#about_james{
    background: black;
    border-radius: 10px;
    width: 80%;
    margin-bottom: 5%;
    margin-left: 10%; 
    float: left;
    padding:25px;
    border: solid 2px $greenColour;
    animation: linear infinite alternate;
    animation-name: right;
    animation-duration: 10s;
}

#about_joe{
    background: black;
    border-radius: 10px;
    width: 80%;
    margin-bottom: 5%;
    margin-right: 10%; 
    float: right;
    padding:25px;
    border: solid 2px $greenColour;
    animation: linear infinite alternate;
    animation-name: left;
    animation-duration: 10s;
}

#about_dean{
    background: black;
    border-radius: 10px;
    width: 80%;
    margin-bottom: 5%;
    margin-left: 10%; 
    float: left;
    padding:25px;
    border: solid 2px $greenColour;
    animation: linear infinite alternate;
    animation-name: right;
    animation-duration: 10s;
}


.about-us-header-text{
    color: $greenColour;
    font-size: xx-large;
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .about {
        margin-top: -60px;
    }
}

@media only screen and (max-width: 1980px) {
    .dojo-text1{
        position: absolute;
        top: 28%;
        left: 18%;
        font-size: 500%;
        color: #FFB302;
        text-shadow: 0 0 10px #000000, 0 0 10px #000000;
    }

    .dojo-text2{
        position: absolute;
        top: 28%;
        right: 18%;
        font-size: 500%;
        color: #FFB302;
        text-shadow: 0 0 10px #000000, 0 0 10px #000000;
    }

    .sensei{
        height: 70vh;
        width: 70vh;
        opacity: 0.9;
        -webkit-animation: mover 1.5s infinite  alternate;
        animation: mover 1.5s infinite  alternate;
    }
}

@media only screen and (max-width: 1300px) {
    .dojo-text1{
        position: absolute;
        top: 28%;
        left: 18%;
        font-size: 400%;
        color: #FFB302;
        text-shadow: 0 0 10px #000000, 0 0 10px #000000;
    }

    .dojo-text2{
        position: absolute;
        top: 28%;
        right: 18%;
        font-size: 400%;
        color: #FFB302;
        text-shadow: 0 0 10px #000000, 0 0 10px #000000;
    }

    .sensei{
        height: 50vh;
        width: 50vh;
        opacity: 0.9;
        -webkit-animation: mover 1.5s infinite  alternate;
        animation: mover 1.5s infinite  alternate;
    }
}

@media only screen and (max-width: 1000px) {
    .dojo-text1{
        position: absolute;
        top: 28%;
        left: 18%;
        font-size: 300%;
        color: #FFB302;
        text-shadow: 0 0 10px #000000, 0 0 10px #000000;
    }

    .dojo-text2{
        position: absolute;
        top: 28%;
        right: 18%;
        font-size: 300%;
        color: #FFB302;
        text-shadow: 0 0 10px #000000, 0 0 10px #000000;
    }

    .sensei{
        height: 35vh;
        width: 35vh;
        opacity: 0.9;
        -webkit-animation: mover 1.5s infinite  alternate;
        animation: mover 1.5s infinite  alternate;
    }
}

@media only screen and (max-width: 750px) {
    .dojo-text1{
        position: absolute;
        top: 28%;
        left: 18%;
        font-size: 300%;
        color: #FFB302;
        text-shadow: 0 0 10px #000000, 0 0 10px #000000;
    }

    .dojo-text2{
        position: absolute;
        top: 28%;
        right: 18%;
        font-size: 300%;
        color: #FFB302;
        text-shadow: 0 0 10px #000000, 0 0 10px #000000;
    }
}

@media only screen and (max-width: 500px) {
    .dojo-text1{
        position: absolute;
        top: 28%;
        left: 18%;
        font-size: 200%;
        color: #FFB302;
        text-shadow: 0 0 10px #000000, 0 0 10px #000000;
    }

    .dojo-text2{
        position: absolute;
        top: 28%;
        right: 18%;
        font-size: 200%;
        color: #FFB302;
        text-shadow: 0 0 10px #000000, 0 0 10px #000000;
    }
}
 

.container-banner {
	z-index: 1;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
    border-radius: 25px;
	height: 80vh;
    width: 90%;
	background-image: linear-gradient(to bottom,  rgba(255,168,76,0.6) 0%,rgba(255,123,13,0.6) 100%), url('../../assets/png/dojo.png');
	background-blend-mode: soft-light;
	background-size: cover;
	background-position: center center;
	padding: 2rem;
}

@keyframes right {
    0% {
      right: 0;
      transform: translateX(0);
    }
    100% {
      right: 10%;
      transform: translateX(10%);
    }
}

@keyframes left {
    0% {
      left: 0;
      transform: translateX(0);
    }
    100% {
      left: -10%;
      transform: translateX(-10%);
    }
}
