.parent{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.full-width{
  width: 100%;
}

.top-padding{
  padding-top: 3px;
}

.margin-left mat-radio-button:not(:first-child){
  margin-left:10px;
}

.form-container{
  margin-top: 10%;
}

.mat-radio-button {
  margin-left: 15px;

}

