
<h1>AI-Planner</h1>

   
    


<div class="center">
  <div class="example-boundary" id="boarder">

   
     
      <div *ngFor="let node of nodes; index as i" cdkDrag style="position: absolute; left: {{node.savedX}}px;
  top: {{node.savedY}}px;" class="example-box" id="{{node.deskNumber}}" cdkDragBoundary=".example-boundary" (cdkDragStarted)="node.dragStarted($event)" (cdkDragEnded)="node.dragEnded($event)" (cdkDragMoved)="node.dragMoved($event)">
          <div class="example-handle" cdkDragHandle >
                   {{node.deskNumber}} {{node.position}}
          </div>
      </div>
 
  </div>
</div>

