

<div class="container-fluid ">
  <div class="row no-gutters">
  <div class="col-12 d-flex justify-content-center text-center">
      <h1 class="headings">AI Floor Planner</h1>
    </div>
    
  </div>
<div class="row no-gutters">
 <div class="col-12 d-flex justify-content-center text-center">
  <mat-card>
      <mat-card-title>DESKS</mat-card-title>
      <mat-card-content>
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Desks
                    </mat-panel-title>
                    <mat-panel-description>
                      All Current Desks
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                   <mat-accordion *ngFor="let node of nodes; index as i">
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Desk {{node.deskNumber}}
                    </mat-panel-title>
                    <mat-panel-description>
                      Details
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-list>
                  <mat-divider></mat-divider>
                    <mat-list-item>Allocated Staff Member: Castello</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Other information: Stuff HERE</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Saved Position: (X: {{node.savedX}} ; Y: {{node.savedY}})</mat-list-item>
                    <mat-divider></mat-divider>
                  </mat-list>
                 
                </mat-expansion-panel>
            </mat-accordion>
                </mat-expansion-panel>
            </mat-accordion>
     </mat-card-content>
      <mat-card-actions>
      <button mat-raised-button (click)="addNode()">Add New Node</button>
      </mat-card-actions>
      </mat-card>
      </div>
 </div>
  <div class="row no-gutters">
    
    <div class="col-12">
      <div class="example-boundary" id="boarder">
          <div *ngFor="let node of nodes; index as i" cdkDrag style="position: absolute; left: {{node.savedX}}px;
              top: {{node.savedY}}px;" class="example-box" id="{{node.deskNumber}}" cdkDragBoundary=".example-boundary" (cdkDragStarted)="node.dragStarted($event)" (cdkDragEnded)="node.dragEnded($event)" (cdkDragMoved)="node.dragMoved($event)">
              <div class="example-handle" cdkDragHandle >
                      {{node.deskNumber}} {{node.position}}
              </div>
          </div>
        </div>
    </div>
   
  </div>
  
</div>


