<mat-toolbar class="mat-elevation-z8">
    &nbsp;
    <div></div>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://retrorabbit.co.za">
        <img src="../../assets/svgs/retrorabbit_banner.svg" class="logo"/>
    </a>
    <span class="toolbar-spacer"></span>

    <button class="log" matTooltip="Login" mat-button *ngIf="user_displayName == '';else other_content" (click)="signIn()">
        <div *ngIf="loggingIn;else login">
            <span class="spinner-border spinner-border-sm mr-1"></span>
            Logging In
        </div>
        <ng-template #login>
            <i class="bi bi-google"> Login </i>
        </ng-template>
    </button>
    <ng-template #other_content>
        <div class="profile">
            <span><img class="profile-pic" src="{{ user_googleUrl }}"/></span>&nbsp;
            <span class="profile-text">{{ user_displayName }}</span>&nbsp;
            <button class="log" matTooltip="Logout" mat-button (click)="signOut()">
                Logout
            </button>
        </div>
    </ng-template>
</mat-toolbar>


<div class = "parent">
<form [formGroup] = "covidQuestionnaire" (ngSubmit) = "onSubmit()" class = "col-sm-6">
    <mat-card class = "form-container" style = "text-align: center;">
          <div class = "row">
            <div class = "col-md-12">
              <mat-radio-group formControlName="gender" >
                <mat-radio-button value = "male"> Male </mat-radio-button>
                <mat-radio-button  value = "female"> Female </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class = "row">
            <div class = "col-sm-12">
              <mat-checkbox formControlName="cough">
                <mat-label>Cough</mat-label>
              </mat-checkbox>
            </div>
          </div>
          <div class = "row">
            <div class = "col-sm-12">
              <mat-checkbox formControlName="fever">
                <mat-label>Fever</mat-label>
              </mat-checkbox>
            </div>
          </div>
          <div class = "row">
            <div class = "col-sm-12">
              <mat-checkbox formControlName="sore_throat">
                <mat-label>Sore Throat</mat-label>
              </mat-checkbox>
            </div>
          </div>
          <div class = "row">
            <div class = "col-sm-12">
              <mat-checkbox formControlName="shortness_of_breath">
                <mat-label>Shortness of Breath</mat-label>
              </mat-checkbox>
            </div>
          </div>
          <div class = "row">
            <div class = "col-sm-12">
              <mat-checkbox formControlName="head_ache">
                <mat-label>Headache</mat-label>
              </mat-checkbox>
            </div>
          </div>
          <div class = "row">
            <div class = "col-sm-12">
              <mat-checkbox formControlName="test_indication">
                <mat-label>Contact With Covid</mat-label>
              </mat-checkbox>
            </div>
          </div>
        <mat-card-actions>
          <button class="submit" mat-raised-button type = "submit" [disabled] = "isDisabled"> Submit </button>
        </mat-card-actions>

    </mat-card>
</form>
</div>
